.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
}
.shopping-cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #796b6b;
  margin-bottom: 20px;
}
.shopping-cart-item {
  display: flex;
}
.shopping-cart-item-check {
  display: flex;
  align-items: center;
}
.shopping-cart-item-check input {
  width: 20px;
  height: 20px;
}
.shopping-cart-item-image {
  margin: 0 60px 0 20px;
}
.shopping-cart-item-image img {
  width: 180px;
  height: 180px;
}
.shopping-cart-item-info h3 {
  color: rgb(233, 117, 40);
  font-size: 24px;
}
.shopping-cart-item-info input {
  width: 60px;
  height: 30px;
}
.shopping-cart-item-price {
  margin-left: auto;
  display: flex;
}
.shopping-cart-item-price p {
  margin-right: 5px;
}

.buy-btn button {
  background-color: rgb(233, 117, 40);
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  margin: 10px 10px 10px 0;
  border: 1px solid rgb(233, 117, 40);
  border-radius: 10px;
  cursor: pointer;
}
